@media only screen and (max-width: 1850px) {

	/*-- Header --*/

	.header_row .left {
	    /*width: 320px;*/
	    /*outline: 1px solid red;*/
	}

	.header_row .center {
	    /*width: 320px;*/
	    /*outline: 1px solid red;*/
	}

	.header_row .right {
	    /*width: 320px;*/
	    /*outline: 1px solid red;*/
	}

	.contacts_thumbnails {
	    padding: 14px 0 14px 15px;
	}

	.contact_thumb:nth-child(3) {
		padding-left: 35px;
	}

	/*-- /Header --*/

}


@media only screen and (max-width: 1600px) {
	/*-- Header --*/

	.header_row .center {
	    width: calc(100% - 640px);
	}

	.header_row .right {
	    width: 320px;
	}

	.inline_blocks {
		margin: 5px -15px;
	}

	.inline_blocks > div:nth-child(2) {
		display: none;
	}

	.resp_link {
		display: block;
		text-align: center;
	}

	/*-- /Header --*/

	/*-- Section 9 --*/

	.thumbnails_7:before {
		display: none;
	}

	.thumbnails_7:after {
		display: none;
	}

	/*-- /Section 9 --*/

}

@media only screen and (max-width: 1300px) {


	.main_row {
		padding: 0 25px;
	}

	.row {
		padding: 0 25px;
	}

	.row_2 {
		padding: 0 25px;
	}

	.h2_title {
	    margin: 15px 0;
	}

	/*-- Section 5 --*/

	.h2_ttile_3 h2 {
	    font-size: 29px;
	    line-height: 35px;
	}

	/*-- /Section 5 --*/

	/*-- Footer --*/

	.footeer_top_row .col_1 {
	    width: 100%;
	    padding: 10px 0;
	}

	.footeer_top_row .col_2 {
	    width: calc(100% - 315px);
	    padding: 10px 10px 10px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1240px) {

	/*-- Header --*/

	.header_row .left {
	    width: 53%;
	}

	.header_row .center {
		display: none;
	}

	.header_row .right {
	    width: 47%;
	}

	/*-- /Header --*/

	/*-- Section 4 --*/

	.thumb_4 .bg_image {
	    width: 500px;
	}

	.thumb_4_descript h3 {
	    font-size: 19px;
	    line-height: 30px;
	}

	.thumb_4_descript div:nth-child(1) {
	    width: 43%;
	}

	.thumb_4:nth-child(2n) .thumb_4_descript div:nth-child(1) {
	    width: 50%;
	}

	.thumb_4:nth-child(2n+1) .bg_image {
	    left: -5%;
	}

	/*-- /Section 4 --*/

	/*-- Section 9 --*/

	.thumb_7 {
	    width: calc(50% - 4px);
	}

	.thumb_7_desc {
	    min-height: 280px;
	}

	.thumb_7_desc > div {
	    min-height: 90px;
	}

	/*-- /Section 9 --*/

	/*-- Section 10 --*/

	.article .left_col {
	    width: 100%;
	    padding: 10px 0;
	    display: flex;
	    display: -webkit-flex;
	    justify-content: space-between;
	    -webkit-justify-content: space-between;
	}

	.article .right_col {
	    width: 100%;
	    padding: 10px 0;
	}

	.article .img_box {
	    width: calc(50% - 10px);
	}

	/*-- /Section 10 --*/

}

@media only screen and (max-width: 1024px) {

/*-- Section 1 --*/

.promo_sect {
    padding-top: 10px;
}

.h1_wrapp {
    padding: 15px 0;
}

h1 {
    font-size: 65px;
}

.h1_descript {
    padding: 25px 0;
}

.thumb_1 {
    margin: 35px 0;
    width: 50%;
    max-width: 50%;
}

/*-- /Section 1 --*/

/*-- Section 2 --*/

.thumb_2 {
    width: calc(50% - 4px);
    padding: 15px;
}

/*-- /Section 2 --*/

/*-- Section 4 --*/

.thumb_4:nth-child(2n+1) .bg_image {
    left: -15%;
}

/*-- /Section 4 --*/

}

@media only screen and (max-width: 900px) {

/*-- Section 4 --*/

.thumb_4:nth-child(2n+1) .bg_image {
    left: -45%;
}

.thumb_4:nth-child(2n) .bg_image {
    top: -50px;
    left: 13%;
}

/*-- /Section 4 --*/

/*-- Section 8 --*/

.step_thumb::after {
    height: 56px;
    bottom: -63px;
}

/*-- /Section 8 --*/

/*-- Footer --*/

.contact_thumb_2_wrapp .contact_thumb_2:nth-child(1) {
    width: 100%;
    padding: 0;
}

.contact_thumb_2_wrapp .contact_thumb_2:nth-child(2) {
    width: 100%;
    padding: 0;
}

.footer_nav {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 767px) {

	/*-- Header --*/

	.header_row .left {
	    width: 250px;
	}

	.header_row .right {
	    width: calc(100% - 250px);
	}

	.header_row {
	    padding: 8px 15px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	h1 {
	    font-size: 53px;
	}

	.h1_descript p {
	    font-size: 20px;
	    line-height: 29px;
	}

	.h1_descript {
	    padding: 15px 0;
	}

	.h2_descript h3 {
	    font-size: 20px;
	    line-height: 25px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	h2 {
	    font-size: 35px;
	}

	.sect_2 {
	    padding: 20px 0;
	}

	.h2_title h2 {
	    padding: 0 15px;
	}

	.h2_title::before,
	.h2_title::after {
	    width: 55px;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.thumbnails_3 {
	    margin: 10px 0;
	}

	.thumb_3 {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	    width: 100%;
	    padding: 10px 0;
	}

	.thumb_3 .icon_box {
	    width: 130px;
	}

	.thumb_3_desc {
		width: calc(100% - 130px);
	    padding: 39px 0 10px 20px;
	}

	.thumb_3 .icon_box::before {
		display: none;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.thumb_4 {
		margin: 30px 0;
	}

	.thumb_4:nth-child(2n+1) {
	    width: 100%;
	}

	.thumb_4:nth-child(2n) {
	    width: 100%;
	}

	.thumb_4:nth-child(2n+1) .bg_image {
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	.thumb_4:nth-child(2n) .bg_image {
	   	left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.inputs_wrapp .input_wrapp {
	    width: 100%;
	    margin: 3px 0;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.thumb_5 {
	    width: calc(50% - 4px);
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb_6 {
	    width: 50%;
	    padding: 20px;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.step_thumb {
	    left: 0;
	    margin: 20px 0;
	}

	.step_thumb:last-child {
	    margin-bottom: 35px;
	}

	.step_thumb::after {
		display: none;
	}

	.step_thumb .num_box {
	    order: 1;
	}

	.step_thumb .step_descript {
		width: calc(100% - 77px);
	    text-align: left;
	    padding: 10px 0 10px 15px !important;
	    order: 2;
	}

	.step_descript p {
		font-size: 11px;
		line-height: 24px;
	}

	/*-- /Section 8 --*/

	/*-- Footer --*/

	.footeer_top_row .col_2 {
	    width: 100%;
	    padding: 10px 0;
	}

	.footeer_top_row .col_3 {
	    width: 100%;
	    padding: 10px 0;
	}

	.inline_blocks_2 {
	    align-items: flex-start;
	    -webkit-align-items: flex-start;
	    justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	}

	.seo_text_wrapp .col:nth-child(1) {
	    width: 100%;
	    padding: 10px 0;
	}

	.seo_text_wrapp .col:nth-child(2) {
		width: 100%;
	    padding: 10px 0;
	}

	.seo_text_wrapp .col:nth-child(3) {
		width: 100%;
	    padding: 10px 0;
	    text-align: left;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	/*-- Header --*/

	.header_row .left {
	    width: 190px;
	}

	.header_row .right {
	    width: calc(100% - 190px);
	}

	.inline_blocks > div {
	    padding: 0 10px;
	}

	.header_row .red_pill {
	    padding: 12px 15px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.thumbnails_1 {
	    margin: 20px -10px;
	}

	.thumb_1 {
	    width: 50%;
	    padding: 0 10px;
	}

	.thumb_1 > div:nth-child(1) {
	    width: 90px;
	}

	.thumb_1 .icon_box img {
	    width: auto;
	    max-height: 52px;
	}

	.thumb_1 .icon_box::before {
	    width: 70px;
	    height: 70px;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.thumbnails_2 {
	    margin: 30px -2px;
	}

	.thumb_2 {
	    width: 100%;
	    margin: 2px 0;
	    padding: 15px;
	}

	/*-- /Section 2 --*/

	/*-- Section 4 --*/

	.thumbnails_4 {
	    margin: 0;
	}

	.thumb_4:nth-child(2n) .thumb_4_descript {
	    left: 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 10 --*/

	.sect_10 {
	    padding: 45px 0 15px 0;
	}

	.article .left_col {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.article .img_box {
	    width: 100%;
	}

	.article_title h3 {
	    font-size: 25px;
	    line-height: 34px;
	}

	/*-- /Section 10 --*/

}


@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 29px;
	}

	/*-- Header --*/

	.header_row .left {
	    width: 190px;
	}

	.header_row .right {
	    width: calc(100% - 190px);
	}

	.desc_box {
		display: none;
	}

	.smart_btn_wrapp {
		display: block;
	}

	.inline_blocks > div {
	    padding: 0 7px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.main_row {
	    padding: 0 20px;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	.row {
	    padding: 0 20px;
	}

	.thumb_3 .icon_box {
	    width: 130px;
	    margin: 0 auto;
	}

	.thumb_3_desc {
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.thumb_4_descript {
		display: block;
	    max-width: 100%;
	    margin: 20px 0;
	}

	.thumb_4_descript div:nth-child(1) {
	    width: 100%;
	    padding: 0;
	}

	.thumb_4_descript div:nth-child(2) {
	    width: 100%;
	    padding: 0;
	}

	.thumb_4:nth-child(2n) .thumb_4_descript div:nth-child(1) {
	    width: 100%;
	    padding: 0;
	}

	.thumb_4:nth-child(2n) .thumb_4_descript div:nth-child(2) {
	    width: 100%;
	    padding: 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.sect_5 {
	    padding: 20px 0 30px 0;
	}

	.h2_ttile_3 h2 {
	    font-size: 26px;
	    line-height: 34px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.sect_6 {
	    padding: 20px 0 14px 0;
	}

	.thumbnails_5 {
	    margin: 20px 0;
	}

	.thumb_5 {
	    width: 100%;
	}

	/*-- /Section 6 --*/

	/*-- Section 8 --*/

	.step_thumb {
	    align-items: flex-start;
	    -webkit-align-items: flex-start;
	}

	.step_thumb .num_box {
		margin-top: 8px;
	    width: 87px;
	    height: 87px;
	}

	.step_thumb .num_box p {
	    width: 55px;
	    height: 55px;
	    font-size: 43px;
	    line-height: 54px;
	}

	.step_thumb .step_descript {
	    padding: 10px 0 10px 15px;
	}

	/*-- /Section 8 --*/

	/*-- Section 9 --*/

	.thumbnails_7 {
	    margin: 20px 0;
	}

	.thumb_7 {
	    width: 100%;
	    margin: 2px 0;
	}

	.thumb_7_desc {
	    min-height: 170px;
	}

	/*-- /Section 9 --*/
	
}

@media only screen and (max-width: 440px) {

	h1 {
	    font-size: 49px;
	}

	/*-- Section 1 --*/

	.thumbnails_1 {
	    margin: 20px 0;
	}

	.thumb_1 {
	    width: 100%;
	    max-width: 100%;
	    margin: 25px 0;
	    padding: 0;
	}


	.thumb_1:nth-child(1) .icon_box::before {
	    bottom: 0;
	    left: 0;
	}

	/*-- /Section 1 --*/

	/*-- Section 7 --*/

	.thumbnails_6 {
	    margin: 30px 0 10px 0;
	}

	.thumb_6 {
	    width: 100%;
	    padding: 20px 0;
	}

	/*-- /Section 7 --*/

	/*-- Footer --*/

	.inline_blocks_2 > div:nth-child(2) {
		display: none;
	}

	/*-- /Footer --*/

}
